$yellow: #e7c83f;

.container--main {
  height: 100vh;
  display: flex;
  margin-top: 4em;

  .articles {
    display: flex;
    flex-direction: column;
    padding-right: 4em;
    border-right: 1px solid #e8e8e8;

    &--item{
      display: flex;
      flex-direction: column;
      margin-bottom: 3em;

      &_title {
        font-size: 3em;
        font-weight: 300;
        padding: 0;
        margin: 0.20em 0;
      }

      &_category {
        color: #333;
      }
      
      &_description {
        color: #000049;
      }
      
      &_author {
        color: #333;
      }
      
      &_subject {
        color: $yellow;
      }
      
      &_publication_at {
        color: #888;
      }
    }
  }

  .box-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;

    &--title{
      font-weight: bold;
      padding: 15px 0px 15px 0px;
    }

    &--content{
      ul {
        li {
          a {
            color: #666;
          }
        }
      }
    }
  }
}

/**
 * Accessible Helpers
 */
.circle {
  display: inline-block;
  background: #e9e9e9;
  height: 0.9em;
  width: 0.9em;
  border-radius: 5em;
  margin-right: 0.5em;
}

.no-padding { padding: 0 !important; }
.no-margin { margin: 0 !important; }